.dataTable-wrapper {position:relative;
background:#fafafa;
margin:10vh auto 20px;
padding:20px 30px;
width:60%;
display:flex;
flex-direction:column;
align-items:center;
border:1px solid #efefef;
box-shadow:
/* The top layer shadow */
0 1px 1px rgba(0,0,0,0.15),
/* The second layer */
0 10px 0 -5px #eee,
/* The second layer shadow */
0 10px 1px -4px rgba(0,0,0,0.15),
/* The third layer */
0 20px 0 -10px #eee,
/* The third layer shadow */
0 20px 1px -9px rgba(0,0,0,0.15);
padding-bottom:40px
}

.dataTable-selector,
.dataTable-input {
margin:0 10px;
padding:6px 8px;
background-color: rgba(0, 0, 0, 0.1);
border:1px solid #fff
}
.dataTable-input {width:100%}

/*TABLE*/
.dataTable-table {table-layout:fixed;
width:100%;
border-collapse:collapse;
border-spacing:0;
color:#333
}
.dataTable-table > thead > tr > th,
.dataTable-table > tbody > tr > td {
line-height:20px;
padding:8px;
border-color:transparent
}
.dataTable-table > tbody > tr:nth-of-type(2n+1) {
background-color:rgba(0, 0, 0, 0.1)
}

.dataTable-table > tbody input {width:100%;}

.dataTable-table button {/*outline:none;*/
width:23px;
height:23px;
padding:0;
border:1px solid rgba(0, 0, 0, 0.1);
background:rgba(0, 0, 0, 0.1)
}
.dataTable-table button:hover {
border:1px solid rgba(0, 0, 0, 0.15);
background:rgba(0, 0, 0, 0.15);
cursor:pointer
}
.dataTable-table button:active {
border:1px solid rgba(0, 0, 0, 0.15);
background:rgba(0, 0, 0, 0.15);
box-shadow:rgba(0, 0, 0, 0.175) 0px 3px 5px inset
}

.dataTable-table >tbody tr {
border-left: 1px solid gray;
border-right: 1px solid gray;
cursor:pointer
}
.dataTable-table tbody tr.actRow {/*td:not(:last-child)*/
background-color:rgba(83, 147, 132, 0.68);
box-shadow:0 0 10px rgba(0,0,0,0.5)
}
